body {
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h1 {
    color: #ad1457;
    font-size: 20px;
}

.heart-btn {
    font-size: 90px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s;
}

/* Animación cuando la música suena */
.latir {
    animation: heartbeat 0.8s infinite;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#status {
    color: #888;
    margin-top: 10px;
}

#youtube-player {
    display: none;
}
